rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.uid in [
        "ZdWZpqUapjaljyXNBKLxhzqEMWH2"
      ];
    }
    match /{allPaths=**} {
      allow read: if true;       // 画像は誰でも閲覧OK
      allow write: if isAdmin(); // あなただけアップロード/削除可
    }
  }
}
